/* Reset básico para remover margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Corpo da página */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #4f46e5, #06b6d4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Container principal */
#app {
    background-color: #ffffff;
    padding: 30px 35px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    /* limite da largura */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}


/* Título */
h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo do input */
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 16px;
}

/* Estilo do botão */
button {
    background-color: #22c55e;
    color: white;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #16a34a;
}

/* Lista de tarefas */
ul {
    list-style: none;
    margin-top: 20px;
}

/* Estilo dos itens da lista */
ul li {
    background-color: #f1f5f9;
    color: #333;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li:hover {
    background-color: #e2e8f0;
}

ul li button {
    background-color: #ef4444;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

ul li button:hover {
    background-color: #dc2626;
}